/* General Styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  
  .signin-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top:50px;
  }
  
  
  
  /* Main Section */
  .signin-main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    background-color: white;
    min-height: 70vh; /* Adjusted height */
  }
  
  .signin-card {
    display: flex;
    background-color:#e6e7e9 ;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: row;
  }
  
  .signin-form {
    padding: 40px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    
  }
  
  .signin-form h2 {
    margin-bottom: 30px;
    margin-top:30px;
    color: #1f7a8c;
    text-align: center; /* Centers the text */
  }
  
  .signin-form p {
    margin-bottom: 50px;
   
    
  }
  .italic-link {
    font-style: italic;
}
  
  .signin-form form input  {
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid #a8aaab;
    background-color: #dadcdd ;
    width:350px;
    font-style: italic;
    
   
  }
  .signin-form form select{
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid #a8aaab;
    background-color: #dadcdd ;
    width:350px;
    font-style: italic;
   
  }
 
  
  .signin-form .forgot-link {
    font-size: 0.8em;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #1f7a8c;
    text-decoration: none;
    text-align: center;
    display: block;
    
    
  }
  
  .signin-form .signin-button {
    margin: 0 auto; /* Automatically centers the button horizontally */
    display: block;
    padding: 10px;
    background-color: #1f7a8c;
    color: white;
    border: none;
    width:150px;
    border-radius: 30px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }
  
  .signin-image img {
    width: 300px;
    height: 550px;
    object-fit: cover;
  }
  
  
  
  /* Responsive Design */

/* Tablets (768px and below) */
@media (max-width: 760px) {
    .signin-card {
      flex-direction: column;
      width: 100%;
      margin: 20px auto;
    }
  
    .signin-image img {
      display: none;
    }
  
    .signin-form {
      padding: 20px;
      max-width: 100%;
      align-items: center;
    }
}
   
  
  /* Mobile Phones (480px and below) */
  @media (max-width: 480px) {
    .signin-main {
      padding: 20px;
      min-height: auto;
      
    }
  
    .signin-card {
      width: 100%;
      margin: 10px;
      box-shadow: 0 4px 6px 0 rgba(23, 24, 23, 0.3);
      border:1px solid #1f7a8c ;
      background-color: white;
    }
  
    .signin-image img {
        display: none; /* Hide the image container */
      }
    
    .signin-form h2 {
      font-size: 1.4em;
      margin-bottom: 15px;
      font-weight: bolder;
    }
  
    .signin-form p {
      margin-bottom: 30px;
      font-size: 0.9em;
    }
  
    .signin-form form input {
      margin-bottom: 20px;
    margin-left:20px;
    margin-right:20px;
    padding: 10px;
    font-size: 0.9em;
    width: 90%; /* Use percentage to make it responsive */
    text-align:left;
    }
    .signin-form form select {
      margin-bottom: 20px;
    margin-left:20px;
    margin-right:20px;
    padding: 10px;
    border: 1px solid #a8aaab;
    background-color: #dadcdd;
    width: 90%; /* Use percentage to make it responsive */
    font-style: italic;
    text-align: left;
    }
  
    .signin-form .signin-button {
      padding: 10px;
      font-size: 0.9em;
      width: 50%;
      text-align: center;
      border-radius: 11px;
    }
  }